:root {
    --default: #383838;
    --water: #2892ff;
    --fire: #ff612b;
    --grass: #43bf24;
    --ice: #43d8ff;
    --flying: #95c9ff;
    --poison: #994dcf;
    --bug: #9fa423;
    --fairy: #ffb1ff;
    --electric: #ffdb01;
    --normal: #999999;
    --psychic: #ff637f;
    --ground: #ac7939;
    --fighting: #ffa202;
    --ghost: #6e4570;
    --rock: #bcb889;
    --steel: #6baed3;
    --dragon: #5462d6;

    --small: 16px;
    --medium: 18px;
    --regular: 20px;
    --large: 28px;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(250, 250, 250);
}

/* HEADER */
.header {
    padding: 60px 125px;
    font-size: var(--large);
    font-weight: bold;
    color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--default);
}

.header-content img {
    margin-right: 5px;
}

.header .header-content {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.header .search {
    display: flex;
    justify-content: center;
}

.search img {
    width: 30px;
}

.header .search input {
    width: 100%;
    padding: 15px 20px;
    font-size: var(--medium);
    border: none;
    background-color: black;
    color: white;
}

.header button {
    width: 80px;
    background-color: #da343c;
    border: none;
    cursor: pointer;
}

/* POKEMON LIST */
.pokemon-list {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.pokemon-wrapper {
    flex: 1 1 calc(40% - 40px);
    max-width: 180px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.pokemon-list .img-wrapper {
    padding: 10px 12px;
    background-color: white;
    border: 0.5px solid rgb(197, 197, 197);
    border-radius: 8px;
    width: fit-content;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.pokemon-list .img-wrapper:hover {
    transform: scale(1.1); /* 마우스를 올리면 img-wrapper가 1.1배 커짐 */
}
.pokemon-list img {
    width: 160px;
}

.pokemon-list .pokemon-info {
    text-align: left;
    width: 100%;
}

.pokemon-list .pokemon-info .index {
    color: rgb(148, 148, 148);
    font-size: var(--medium);
    margin-bottom: 5px;
}

.pokemon-list .pokemon-info .name {
    color: black;
    font-size: var(--regular);
    font-weight: bold;
    margin-bottom: 5px;
}

.pokemon-list .pokemon-info .type {
    color: rgb(0, 0, 0);
    font-size: var(--small);
    display: flex;
}

.pokemon-list .pokemon-info .type div {
    padding: 5px 12px;
    color: white;
    border-radius: 5px;
    margin: 5px 3px;
    display: inline-block;
    cursor: pointer;
}

/* POKEMON DETAIL */
.pokemon-detail {
    height: calc(100vh - 160px);
    padding: 0 8%;
    background-image: url(./img/background.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-detail .left-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-detail .detail-wrapper {
    padding: 80px;
    background-color: white;
    border: black solid 3px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}

.detail-wrapper img {
    width: 300px;
    margin-right: 30px;
}

.right-wrapper {
}

.pokemon-detail .pokemon-info .type div {
    padding: 5px 18px;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
}

.pokemon-detail .index {
    font-size: var(--medium);
    background-color: rgb(198, 198, 198);
    width: 14%;
    color: white;
    text-align: center;
    border-radius: 50px;
    padding: 3px;
}

.pokemon-detail .name {
    margin-top: 12px;
    font-size: 24px;
    color: black;
    font-weight: bold;
}
.pokemon-detail .description {
    margin-top: 12px;
    font-size: var(--medium);
    color: black;
}

.pokemon-detail .detail-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 24px;
    border: 0.5px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding: 18px 20px;
}

.detail-info .label {
    color: rgb(148, 148, 148);
    font-weight: bold;
}

.detail-info .info {
    font-size: var(--medium);
    margin-top: 12px;
}

/* 반응형 */
@media (max-width: 1200px) {
    .header {
        padding: 60px 100px;
        font-size: var(--large);
        grid-template-columns: 1fr 3fr;
    }
}

@media (max-width: 1000px) {
    .header {
        padding: 60px 50px;
        font-size: var(--large);
        grid-template-columns: 1fr 2fr;
    }
    /* POKEMON DETAIL */
    .pokemon-detail {
        padding: 0 2%;
    }
    .pokemon-detail .detail-wrapper {
        padding: 50px;
    }
    .detail-wrapper img {
        width: 280px;
        margin-right: 20px;
    }
    .pokemon-detail .pokemon-info .type div {
        padding: 5px 10px;
    }
    .pokemon-detail .index {
        width: 15%;
    }
    .pokemon-detail .detail-info {
        padding: 18px;
    }
}

@media (max-width: 700px) {
    .header {
        padding: 60px 20px;
        font-size: var(--regular);
        grid-template-columns: 1fr 2fr;
    }
    .header-content img {
        width: 28px;
        height: 28px;
    }
    .search img {
        width: 20px;
    }
    .header .search input {
        padding: 10px 15px;
    }
    .header button {
        width: 50px;
    }

    /* POKEMON DETAIL */
    .pokemon-detail {
        height: calc(100vh - 148px);
        padding: 0 2%;
    }
    .pokemon-detail .detail-wrapper {
        padding: 20px;
        display: block;
    }
    .detail-wrapper img {
        width: 260px;
    }
    .pokemon-detail .index {
        font-size: var(--small);
    }
    .pokemon-detail .pokemon-info .type div {
        padding: 5px 10px;
    }
    .pokemon-detail .description {
        font-size: var(--small);
    }
    .pokemon-detail .detail-info {
        padding: 14px;
    }
    .detail-info .info {
        font-size: var(--small);
        margin-top: 12px;
    }
}

@media (max-width: 450px) {
    .header {
        padding: 40px 10px;
        font-size: var(--large);
        display: block;
    }
    .header .header-content {
        justify-content: center;
        align-items: center;
    }
    .header-content img {
        width: 28px;
        height: 28px;
    }
    .search img {
        width: 20px;
    }
    .header .search input {
        padding: 10px 15px;
        margin-top: 20px;
    }
    .header button {
        margin-top: 20px;
        width: 50px;
    }
    /* POKEMON LIST */
    .pokemon-list {
        padding: 30px;
        gap: 12px;
    }
    .pokemon-wrapper {
        max-width: 140px;
    }
    .pokemon-list .img-wrapper {
        padding: 8px;
    }
    .pokemon-list img {
        width: 125px;
    }

    .pokemon-list .pokemon-info .index {
        font-size: var(--small);
        margin-bottom: 5px;
    }
    .pokemon-list .pokemon-info .name {
        color: black;
        font-size: var(--medium);
        font-weight: bold;
        margin-bottom: 5px;
    }

    /* POKEMON DETAIL */
    .pokemon-detail {
        height: calc(100vh - 113.5px);
        padding: 0 3%;
    }
    .pokemon-detail .detail-wrapper {
        padding: 20px;
    }
}
